.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 98vw;  
    backdrop-filter: 20px;

    position: relative;
    z-index: -1;  
 
}

.background{
    position: absolute;
    top: 50px;
    left: 60px;
    width: 96%;
    height: 100%;
    filter: blur(5px);
    background-size: cover;
    background-repeat: repeat;     
    background-position: center center;
    z-index: 2;
    position: absolute;
}

.subContainer{
    position: absolute;
    top: 60px;
    left: 60px;
    width: 96%;
    height: 100%;
    justify-content: space-around;
   

    display: grid;
    grid-template-areas: 'name image'
                         'divcentral divcentral'
                         'info tags';
    grid-template-columns: 55% 45% ;
    grid-template-rows: 40% 20% 40% ;
    z-index: 50;
    gap: 30px 10px;
}
.name{
    grid-area: name;
    color: antiquewhite;
}

/* /////////////// */
.imageContainer{
    grid-area: image;
    height: max-content;
    width: auto;
    display: flex;
    position: relative;
}

.image{
    position: absolute;
    height: 300px;
    width: auto;
}

.rating{
    margin-top: 260px;
    position: absolute;
    font-size: 25px;
    z-index: 100;
    color: aliceblue;
}



.central{
    grid-area: divcentral;
    color: antiquewhite;
}

.info{
    grid-area: info;
    color: antiquewhite;
}

.tags{
    grid-area: tags;
}

.description{
    font-size: 12px;
}