.subContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.image{
    width: 500px;
    height: 300px;
    position: relative;
}