.container{   
    width: 100vw;
    height: calc(100vh - 80px);
    padding-top:80px;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    
}
/* ///////////// LEFT /////////// */
.leftSection{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: max-content;
    height: 100%;
    min-width: max-content;
}

.selects{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* ///////// CENTER /////// */



.centerSection{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    min-width: max-content;
}

.developersytag{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    gap: 10px;
}

.buttonDevTag{
    all: unset;
    background-color: #f3e0e0;
    height: 8rem;
    width: 100%;    
    align-items:center;
    font-size: 3rem;
    font-family: var( --font-bruno-ace);
    text-align: center;
    cursor: pointer;
    
}
/* /////////// RIGHT ////////////////// */
.rightSection{
    display: flex;
    flex-direction: column;     
    width: 30%;
    height: 100%;
    min-width: max-content;    
}


.buttons{
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin-bottom: 20px;
}

.button{
    all: unset;
    background-color: #f3e0e0;
    height: 8rem;
    width: calc(100% - 10px);
    padding: 5px;
    text-align: center;
    font-size: 3rem;
    font-family: var( --font-bruno-ace);
    cursor: pointer;
    margin-bottom: 10px;   
}
.button:active{
    transform: scale(1.01);
}


.error{    
    color: rgba(216, 186, 186, 0.563);  
    height: 4rem;
    font-size: 3rem;
}

