.container{
    margin: 0;
    padding: 0;
    width: 120px;
    height: 60px;
    top: 0px;          
    position: absolute;
    
    background-color:#434242;
    z-index: 120;

}
.img{
    z-index: 120;
    width: 100%;
    height: 100%;
    filter: invert(51%) sepia(82%) saturate(412%) hue-rotate(129deg) brightness(90%) contrast(86%) drop-shadow(0 0 2px #F3EFE0);
    
}
.buttonhamburger{
    width: 30px;
    height: 30px;
     top: 15px;
    left: 20px;
    background-image: url('../../assets/hamburger_button.png');
    cursor: pointer;   
    position: relative;      
    background-size: contain;
    box-shadow: 0px 0px 5px#e90c59;
    border-radius: 5px;
    border: none;
    filter: invert(74%) sepia(77%) saturate(595%) hue-rotate(151deg) brightness(102%) contrast(88%);
    
}
.buttonhamburger:active {
    transform: scale(0.9);
  }


.links{
    height: 60px;
    width: auto;
    display: flex;
    flex-direction: row;
    top: 0px;
    left: 50px;
    position: absolute;
   
    gap: 20px;
}



.home{
    width: 30px;
    height: 30px;
    top: 15px;
    left: 20px;
    cursor: pointer;
    position: relative;
    background-image: url('../../assets/home.png');    
    background-size: contain;
    box-shadow: 0px 0px 5px#e90c59;
    border-radius: 5px;
    filter: invert(22%) sepia(86%) saturate(5687%) hue-rotate(329deg) brightness(90%) contrast(104%);
}
.home:active {
    transform: scale(0.9);
}

.form{
    width: 30px;
    height: 30px;
    top: 15px;
    left: 20px;
    cursor: pointer;
    position: relative;
    background-image: url('../../assets/addgame.png');    
    background-size: contain;
    box-shadow: 0px 0px 5px#e90c59;
    border-radius: 5px;
    filter: invert(22%) sepia(86%) saturate(5687%) hue-rotate(329deg) brightness(90%) contrast(104%);
}
.form:active {
    transform: scale(0.9);
}


.filters{
    margin: 0;
    padding: 0;
    width: 120px;
    height: 100vh;
    z-index: 130;
    top: 60px;
    left: -120px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    background-color:#434242;
    animation-name: mover;
    animation-duration: 0.8s;
    animation-fill-mode:forwards; 
}

    @keyframes mover {
        from {
        left: -120px;
        opacity: 0;
        }
        
        to {
        left: 0px;
        opacity: 1;
        }
    }

.forname{
    position: relative;
    top: 20px;
    height: 60px;
    display: grid;
    grid-template-areas: ' title title'
                            'az za';
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    align-items: center;
    
    
}

.title{
    text-align: center;
    color: #e90c59;
    position: relative;
    grid-area: title;
}

/* ///////////////////FOR NAME//////////////////////////// */

.azbutton{
    grid-area: az;
    width: 30px;
    height: 30px;
    left: 25%;
    cursor: pointer;
    box-shadow: 0px 0px 5px #888888;
    position: relative;
    background-image: url('../../assets/sortalphabeticup.png');
    
    background-size: contain;
    border-radius: 10%;
    border: none;
}

.azbutton:active {
    transform: scale(0.9);
}

.zabutton{
    grid-area: za;
    width: 30px;
    height: 30px;
    left: 25%;
    cursor: pointer;
    box-shadow: 0px 0px 5px #888888;
    position: relative;
    background-image: url('../../assets/sortalphabeticdown.png');    
    background-size: contain;
    border-radius: 10%;
    border: none;
}

.zabutton:active {
    transform: scale(0.9);
}

/* /////////////////////FOR RATING////////////////////////// */

.upratingbutton{
    grid-area: az;
    width: 30px;
    height: 30px;
    left: 25%;
    cursor: pointer;
    box-shadow: 0px 0px 5px #888888;
    position: relative;
    background-image: url('../../assets/sortup.png');    
    background-size: contain;
    border-radius: 10%;
    border: none;
}

.upratingbutton:active {
    transform: scale(0.9);
}

.downratingbutton{
    grid-area: za;
    width: 30px;
    height: 30px;
    left: 25%;
    cursor: pointer;
    box-shadow: 0px 0px 5px #888888;
    position: relative;
    background-image: url('../../assets/sortdown.png');    
    background-size: contain;
    border-radius: 10%;
    border: none;
}

.downratingbutton:active {
    transform: scale(0.9);
}

/* /////////////////////FOR RELEASED///////////////////////// */

.asending{
    grid-area: az;
    width: 30px;
    height: 30px;
    left: 25%;
    cursor: pointer;
    box-shadow: 0px 0px 5px #888888;
    position: relative;
    background-image: url('../../assets/sort-calendar-ascending.svg');    
    background-size: contain;
    border-radius: 10%;
    border: none;
}

.asending:active {
    transform: scale(0.9);
}

.desending{
    grid-area: za;
    width: 30px;
    height: 30px;
    left: 25%;
    cursor: pointer;
    box-shadow: 0px 0px 5px #888888;
    position: relative;
    background-image: url('../../assets/sort-calendar-descending.svg');    
    background-size: contain;
    border-radius: 10%;
    border: none;
}

.desending:active {
    transform: scale(0.9);
}







.origen {
    position: relative;
    top: 20px;
    height: 60px;
    display: grid;
    grid-template-areas: ' orign origin'
                            'data api';
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    align-items: center;
}

.data{
    grid-area: data;
    width: 30px;
    height: 30px;
    left: 12%;
    cursor: pointer;
    box-shadow: 0px 0px 5px #888888;
    position: relative;
    background-image: url('../../assets/database_120091.png');    
    background-size: contain;
    border-radius: 10%;
    border: none;
    
}
.data:active {
    transform: scale(0.9);
}

.api{
    grid-area: api;
    width: 30px;
    height: 30px;
    left: 12%;
    cursor: pointer;
    box-shadow: 0px 0px 5px #888888;
    position: relative;
    background-image: url('../../assets/api.png');    
    background-size: contain;
    border-radius: 10%;
    border: none;
    
}
.api:active {
    transform: scale(0.9);
}
