.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
   height: 50vh;
   width: 60vw; 
   z-index: 50;
  
}
.form{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 55%;
    min-width: max-content;
    gap: 10px;
}

.button {
    width: 100%;   
    height: 8rem;
    color:  #f3e0e0 ;
    padding: 5px 10px;
    font-weight: bold;
    font-family: 'Bruno Ace', cursive;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 2px;
    border: 2px solid #22A39F;
    background: #22A39F;
  }
  .button:hover {
    background: #E96479 ;
    color: #22A39F
  }

  
.error{
    color:#E96479 ;
    font-family: var(--font-bruno-ace);
    text-align: justify;    
    font-size: 3rem;
    white-space: break-word;
    margin: 0;  
}

.errorContainer{
    list-style-type: none;
    height: 20%;
    width: 55%;
    position: relative;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0; 
    margin-top: 10px;
    color: white;
    gap: 5px;
}