.loader{
    top: 0;
    left: 0;
    width:  100vw;
    height: 100vh;
    z-index: 190;
    background-image: url('../../assets/Loader.svg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

